:root {
  --font-color: #212121;
  --helper-color: #68adec;
  --receiver-color: #ffb067;
  --link-color: #f7af69;
  --req-color: #5CB85C;
  --decline-color: #D9534F;
  --hover-rating-color: #C0C0C0;
  --availability-color: #5FD680;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Poppins", Helvetica, Arial, sans-serif;
}

.App {
  color: var(--font-color);
}

.App .text-box, #intro {
  text-align: center;
}

p a {
  color: var(--link-color);
  font-weight: 600;
}

a:hover {
  text-decoration: none;
}

h1, h2, h3 {
  font-style: normal;
  text-align: center;
  color: #06375b;
}

h1 {
  font-weight: bold;
  font-size: 23px;
  line-height: 34px;
}

h2 {
  font-size: 20px;
  line-height: 30px;
  font-weight: bolder;
}

h3 {
  font-size: 18px;
  font-weight: 600;
  line-height: 1.6;
}

.wrapper {
  margin: 0 auto;
  padding: 20px;
}

.text-box {
  width: 80%;
  margin: 0 auto;
}

header {
  text-align: left;
  padding: 20px;
}

header .menuIcon {
  width: 22px;
}

.separator {
  position: relative;
  width: 116px;
  border: 5px solid #06375b;
  margin: 30px 0;
  border-radius: 10px;
}

.btn {
  padding: 20px 22px;
  font-size: 16px;
  font-weight: 600;
  margin: 10px 0;
  border-radius: 10px;
}

.helper-btn,
.helper-btn:hover,
.helper-btn:focus,
.helper-btn:active {
  background-color: var(--helper-color);
  border: 0;
}

.receiver-btn,
.receiver-btn:hover,
.receiver-btn:focus,
.receiver-btn:active {
  background-color: var(--receiver-color);
  border: 0;
}

/* NAVIGATION */
#nav-wrapper {
  width: 100vw;
}

#nav-wrapper,
#logo {
  padding: 0px;
  z-index: 10;
}

#nav {
  flex-direction: row;
}

.nav-link {
  cursor: pointer;
  margin-right: 5px;
}

#responsive-navbar-nav {
  flex-direction: row-reverse;
}

#responsive-navbar-nav div {
  margin-right: 0px !important;
  display: flex;
}

/* HOME */
#home #claim {
  position: relative;
  background-color: rgba(241, 246, 250, 0.88);
}

#home #claim .claim-overlay {
  background-image: url("../img/people-volunteer.png");
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: bottom;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}

#home #claim h1,
#home #claim p {
  margin: 30px 0;
}

#home #claim .btn {
  display: block;
  width: 100%;
}

#home-video {
  min-height: 250px;
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

#home-info {
  background: #f9fcff;
  text-align: center;
}

#home-info h1 {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
}

#home-info .home-feature {
  margin: 30px 0;
}

#home-info .home-feature img {
  margin: 10px 0;
  height: 100px;
  width: auto;
}

/* REGISTRATION */

.checkbox-wrapper {
  padding: 15px 0px 15px 0px;
  border-top: 1px solid lightgrey;
  display: flex;
  justify-content: space-between;
}

.checkbox-wrapper input {
  position: relative;
  right: 0px;
}

#registration-finish {
  display: flex;
  align-items: center;
  flex-direction: column;
}

#registration-finish img {
  margin-bottom: 25px;
}


/* PROGRESS */

.page-link {
  color: var(--receiver-color) !important;
  border: none !important;
  background-color: transparent !important;
  padding: 3px;
  font-size: 20px !important;
  cursor: default;
}

#page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

#page-wrapper p {
  margin-right: 10px;
}


/* MAP */

.map-container {
  right: 0px;
  bottom: 0px;
  height: 62vh !important;
  overflow: hidden;
}

.map-pin li {
  width: 55px;
  height: 55px;
  border-radius: 100px;
  padding: 10px;
  margin: 8px;
  border: 3px solid #06375b;
  background-position: center;
  background-size: 32px;
  background-repeat: no-repeat;
  cursor: pointer;
}

.food {
  background-image: url("../img/shopping.png");
}
/* 
.medicine {

}

.home {

}

.volunteer {

}

.transport {

} */

#pins-wrapper h3{
  text-align: left;
  margin-left: 15px;
}


/* ENTER */

#intro {
  padding: 20px 0;
}

#intro .hands {
  margin: 30px 0;
}

#intro .logo {
  max-width: 80%;
  margin-bottom: 40px;
}

#intro h3 {
  margin-bottom: 40px;
}

/* VOLUNTEER */

#volunteer-info .profile_info {
  margin: 30px 0;
}
#volunteer-info .profile_info img {
  margin: 10px 0;
  height: 100px;
  width: auto;
  border-radius:50%;
  border-style:solid;
  border-color:#68adef;

}

#communication .communication_info {
  margin: 30px 0;
}
#communication .communication_info img {
  display:block;
  margin-left: auto;
  margin-right:auto;
  height: 100px;
  width: auto;
}
#communication .communication_info p{
  text-align:center;
  margin:25px;
}
#req .req-actions .btn{
  display:block;
  width:100%;
}

.rating {
  font-size: 64px;
}

.rating > span:before {
  content: '☆';
  direction: rtl;
  unicode-bidi: bidi-override;
}

.rating > span.rating_selected:before {
  content: '★' !IMPORTANT;
}

.rating > span:hover:before,
.rating   span:hover~span:before {
  background-color: var(--hover-rating-color);
}

.req-btn,
.req-btn:hover,
.req-btn:focus,
.req-btn:active {
  background-color: var(--req-color);
  border: 0;
}

.decline-btn,
.decline-btn:hover,
.decline-btn:focus,
.decline-btn:active {
  background-color: var(--decline-color);
  border: 0;
}


/* UPDATE AVAILABILITY */
.menu-nav{
  position: absolute;
  width: 26px;
  height: 20px;
  left: 20px;
  top: 30px;
}

.profile-bg-availability{
  position: absolute;
width: 414px;
height: 157px;
left: -1px;
top: 0px;

background: #68ADEC;
}

.my-availability{
  position: absolute;
width: 194px;
height: 19px;
left: 120px;
top: 53px;
bottom: 23px;
right: 100px;
text-align: center;
justify-content: center;
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;

color: #FFFFFF;


}

.h4-availability{
  position: absolute;
  left: 81px;
  top: 95px;
  bottom: 17px;
  right: 57px;
  /* Button font - 16pt Semi Bold */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  justify-content: center;
  text-align: center;
  line-height: 24px;
  letter-spacing: 0.01em;
  
  color: #FFFFFF;
  
  
}

.weekdays{
  position: absolute;
width: 148px;
height: 53px;
left: 51px;
top: 174px;
cursor: pointer;
border-radius: 5px;
border: 0;
}



#id-days{
 background-color: #ECECEC;
/* Button font - 16pt Semi Bold */
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

/* identical to box height */
text-align: center;
letter-spacing: 0.01em;

color: #000000;

}

#days-selected{
  background-color: #5FD680;
/* Button font - 16pt Semi Bold */
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

/* identical to box height */
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;

}

.weekends{
  position: absolute;
width: 148px;
height: 53px;
left: 218px;
top: 174px;
border: 0;

border-radius: 5px;
}


#id-ends{
  background:  #ECECEC;
/* Button font - 16pt Semi Bold */
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

/* identical to box height */
text-align: center;
letter-spacing: 0.01em;

color:#000000;

}

#ends-selected{
  background: #5FD680;
/* Button font - 16pt Semi Bold */
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

/* identical to box height */
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;

}


.mon{
  position: absolute;
  width: 42.78px;
  height: 39px;
  left: 33px;
  top: 241px;
  border: 0;
  
  border-radius: 5px;
}
.tue{
  position: absolute;
width: 42.78px;
height: 39px;
left: 83.75px;
top: 241px;
border: 0;

border-radius: 5px;
}
.wed{
  position: absolute;
width: 42.78px;
height: 39px;
left: 134.95px;
top: 241px;
border: 0;

border-radius: 5px;
}


.thu{
  position: absolute;
width: 42.78px;
height: 39px;
left: 184.52px;
top: 241px;
border: 0;

border-radius: 5px;
}

.fri{
position: absolute;
width: 42.78px;
height: 39px;
left: 235.27px;
top: 241px;
border:0;

border-radius: 5px;
}
.sat{
  position: absolute;
width: 42.78px;
height: 39px;
left: 286.47px;
top: 241px;
border:0;
border-radius: 5px;
}


.sun{
  position: absolute;
width: 42.78px;
height: 39px;
left: 337.22px; 
top: 241px;
border:0;

border-radius: 5px;
}

#daily{
  background: #ECECEC;
  font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 174%;

/* or 24px */
text-align: center;
}




.all-day{
  position: absolute;
width: 315px;
height: 53px;
left: 51px;
top: 315px;
border: 0;
background: #ECECEC;
border-radius: 5px;
}


.All{
  position: absolute;
width: 315px;
height: 53px;
left: 51px;
top: 315px;


border-radius: 5px;
}
 #all-day{
 
  /* Button font - 16pt Semi Bold */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #ECECEC;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  border: 0;
  color: #000000;
 }

 #all-day-selected{
   /* Button font - 16pt Semi Bold */
  font-family: Poppins;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 24px;
  background: #5FD680;
  /* identical to box height */
  text-align: center;
  letter-spacing: 0.01em;
  border: 0;
  color: #FFFFFF;
 }

 .time_nine{
  position: absolute;
  width: 143.06px;
  height: 51.01px;
  left: 54.37px;
  top: 385px;
  border-radius: 5px;
  border: 0;
 }

#time{
  background: #ECECEC;
  
/* Button font - 16pt Semi Bold */
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

/* identical to box height */
text-align: center;
letter-spacing: 0.01em;

color: #000000;
}

#time-selected{
  background: #5FD680;

/* Button font - 16pt Semi Bold */
font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 24px;

/* identical to box height */
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;
}

.time_ten{
  position: absolute;
width: 143.06px;
height: 51.01px;
left: 216.94px;
top: 385px;
border: 0;
border-radius: 5px;
}


.time_eleven{
  position: absolute;
width: 143.06px;
height: 51.01px;
left: 54.37px;
top: 449px;
border: 0;
border-radius: 5px;
}



.time_twelve{
  position: absolute;
width: 143.06px;
height: 51.01px;
left: 216.94px;
top: 449px;
border: 0;
border-radius: 5px;
}


.time_thirteen{
  position: absolute;
  width: 143.06px;
  height: 51.01px;
  left: 54.37px;
  top: 512.16px;
  border: 0;
  border-radius: 5px;
}



.time_fourteen{
  position: absolute;
width: 143.06px;
height: 51.01px;
left: 217px;
top: 513px;
border: 0;
border-radius: 5px;
}



.time_fifteen{
  position: absolute;
width: 143.06px;
height: 51.01px;
left: 54.37px;
top: 576.53px;
border: 0;
border-radius: 5px;
}


.time_sixteen{
  position: absolute;
width: 143.06px;
height: 51.01px;
left: 216.68px;
top: 576.53px;
border: 0;

border-radius: 5px;
}



.time_seventeen{
  position: absolute;
width: 143.06px;
height: 51.01px;
left: 53px;
top: 640.84px;
border: 0;
border-radius: 5px;
}

.time_eighteen{
  position: absolute;
width: 143.06px;
height: 51.01px;
left: 217.94px;
top: 640.84px;
border: 0;
border-radius: 5px;
}

.time_nineteen
{
  position: absolute;
width: 143.06px;
height: 51.01px;
left: 54.37px;
top: 704px;
border: 0;
border-radius: 5px;
}

.time_twenty{
  position: absolute;
width: 143.06px;
height: 51.01px;
left: 215.94px;
top: 704px;
border: 0;
border-radius: 5px;
}


.save-availability{
  position: absolute;
  width: 354px;
  height: 60px;
  left: 33px;
  right: 27px;
  top: 801px;
  bottom: 35px;
  background: #68ADEC;
border-radius: 10px;
font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 24px;
border: 0;
/* identical to box height */
text-align: center;

color: #FFFFFF;
}


/* How do you like to help */

.profile-bg-hero{
  position: absolute;
width: 414px;
height: 219px;
left: 0px;
top: 0px;

background: #68ADEC;


   
}

.h1-hero{
  position: absolute;
width: 354px;
height: 72px;
left: 30px;
top: 92px;

font-family: Poppins;
font-style: normal;
font-weight: 600;
font-size: 24px;
line-height: 36px;
text-align: center;
letter-spacing: 0.01em;

color: #FFFFFF;
}

.car-hero{
  position: absolute;
width: 247px;
height: 16px;
left: 59px;
top: 272px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #212121;


}

.car{
  position: absolute;
  width: 25px;
  height: 25px;
  left: 351px;
  top: 269px;
  
  background: #5FD680;
  border: 1px solid #C4C4C4;
  box-sizing: border-box;
  border-radius: 5px;
}


.deliver-hero{
  position: absolute;
width: 263px;
height: 16px;
left: 59px;
top: 323px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #212121;
}

.deliver{
  position: absolute;
width: 25px;
height: 25px;
left: 351px;
top: 322px;


}

.shopping-hero{
  position: absolute;
width: 263px;
height: 16px;
left: 59px;
top: 374px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #212121;


}


.shopping{
  position: absolute;
width: 25px;
height: 25px;
left: 351px;
top: 373px;
}

.walk-hero{
  position: absolute;
width: 247px;
height: 16px;
left: 59px;
top: 425px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #212121;


}

.walk{
  position: absolute;
width: 25px;
height: 25px;
left: 351px;
top: 424px;
}

.furniture-hero{
  position: absolute;
  width: 292px;
  height: 37px;
  left: 59px;
  top: 476px;
  
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 21px;
  
  color: #212121;
  
  
}

.furniture{
  position: absolute;
width: 25px;
height: 25px;
left: 351px;
top: 485px;
}

.covid{
  position: absolute;
width: 247px;
height: 44px;
left: 59px;
top: 547px;

font-family: Poppins;
font-style: normal;
font-weight: normal;
font-size: 14px;
line-height: 21px;

color: #212121;


}

.test{
  position: absolute;
width: 25px;
height: 25px;
left: 351px;
top: 556px;


}

.hero-btn{
  position: absolute;
width: 354px;
height: 60px;
left: 30px;
top: 661px;
right: 30px;
bottom: 179px;
background: #68ADEC;
border-radius: 10px;
border: 0;

}

